.contenedorModal {
    width: 80%;
    margin: 0 10%;
    max-height:88vh;
    color: map-get($paleta_de_colores , primario);
    background-color: map-get($paleta_de_colores, secundario );
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.contenedorModal::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: map-get($paleta_de_colores, secundario );
    color: map-get($paleta_de_colores, primario);
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.contenedorModal > .modal-content {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    width:70%;
}

.contenedorModal > div > img {
    height: 120px;
    width: auto;
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}