.nav_menu {background-color: map-get($paleta_de_colores, secundario);
    padding: 10px ;
    height: 70px; 
}


.navegacion{
    padding: 0px !important;
    margin: 0px !important;
    li{
        display: inline-block;
        margin-right: 35px;
        padding: 6px; 
        a{
            text-decoration: none;
            color: map-get($paleta_de_colores, primario);
            font-size: 17px;
            &:hover{
                color: map-get($colores_extra, hover);
            }
        }
    }
}

.textoNav{
    color: map-get($paleta_de_colores, primario);
    margin:0;
    margin-left: 15px;
    font-size: 55px;
}

.cont-nav {
    ul{
        list-style: none;
        margin-top: 30px;
        margin-left: 20px;
    }
    li{
    margin-bottom: 20px;
    margin-right: 1px;
    padding: 4px; 
        a{
            text-decoration: none;
            color: map-get($paleta_de_colores, primario);
            font-size: 30px;
            &:hover{
                color: map-get($colores_extra, hover);
            }   
        }
    }
}

.search {
    width: 320px;
    height: 25px;
}

.fa-solid{
    cursor: pointer;
}

.cantidadCarrito {
    background-color: red;
    color: map-get($paleta_de_colores, primario);
    border-radius: 80%;
    font-size: 11px;
    padding: 3px;
    top: 37px;
    right: 38px;
    position: absolute;
    display: none;
}